{% extends 'base.html' %}
{% load static %}


{% block title %}
    ListCli
{% endblock %}

{% block subtitulo %}
    Lista de Clientes
{% endblock %}

{% block pesquisa %}
      <!-- Componente para fazer pesquisa -->
       <form class="form-inline ml-auto" method="post">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar" name="cliente_input">
            <button class="btn btn-success" type="submit">Pesquisar</button>
        </form>
{% endblock %}


{% block main %}


    <!-- Componente para mostrar mensagens do CRUD -->
    {% if messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% for mensagem in messages %}
                {{ mensagem }}
            {% endfor %}
        </div>
    {% endif %}

    <ul class="list-group">
        {% for cli in dados %}
            <li class="list-group-item">
                Nome: {{ cli.nome }} <br>

                {% if cli.endereco %}
                    End:{{ cli.endereco }} <br>
                {% else %}
                    End: <br>
                {% endif %}

                {% if cli.complemento %}
                     Comp:{{ cli.complemento }} <br>
                {% else %}
                     Comp: <br>
                {% endif %}

                {% if cli.bairro %}
                     Bairro:{{ cli.bairro }} <br>
                {% else %}
                     Bairro: <br>
                {% endif %}

                {% if cli.cidade %}
                     Cidade:{{ cli.cidade }} <br>
                {% else %}
                     Cidade: <br>
                {% endif %}

                {% if cli.cep %}
                     CEP:{{ cli.cep }} <br>
                {% else %}
                     CEP: <br>
                {% endif %}

                Email:{{ cli.email }} <br>

                {% if cli.telefone %}
                     Telefone:{{ cli.telefone }}<br>
                {% else %}
                     Telefone: <br>
                {% endif %}

                {% if cli.foto %}
                    <img src="{{ cli.foto.url }}" width="150"> <br>
                {% else %}
                    <img src="{% static 'img/cliente-generico.jpg' %}" width="150">  <br>
                {% endif %}

                <a class="btn btn-primary" href="{% url 'url_atualiza_cliente' cli.id %}">Atualizar</a>  &nbsp
                <a class="btn btn-danger" href="{% url 'url_exclui_cliente' cli.id %}">Excluir</a> <br>

            </li>
        {% endfor %}
    </ul>
{% endblock %}
